section {
  width: 95vw;
  margin: 30px auto !important;
  font-size: 14px !important;
}
.color-red {
  color: red;
}
#form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mtop-20 {
  margin-top: 20px;
}
/*DROPDOWN MENU COMPOZIT DAYS*/
.compozit-drop {
  width: 100%;
  display: flex;
  justify-content: center;
}
.compozit-drop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 30%;
  color: rgb(36, 36, 36);
  box-shadow: none !important;
}
.compozit-drop ul li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #4285c7;
  margin: 5px 5px;
}
.compozit-drop ul li a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
.compozit-drop ul li:hover {
  background-color: #99ccff;
}

.compozit-drop ul li:focus {
  background-color: #99ccff;
}
/*======================*/
input {
  margin: 0px 10px;
}
.forcast-date {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forcast-date span {
  margin-left: 10px;
}
select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  color: rgb(36, 36, 36);
  border: 1px solid #99ccff;
  border-radius: 10px;
  padding: 10px;
  background-image: none;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  margin: 0 10px;
  width: 10em;
  border-radius: 0.25em;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: -10px;
  right: -5px;
  padding: 1em;
  transition: 0.25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #99ccff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag-item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag-list {
  margin-right: 2px;
  margin-left: 2px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #99ccff;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.pag-list:hover {
  background-color: #99ccff;
}
