body {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(36, 36, 36);
}

/*DROPDOWN MENU COMPOZIT DAYS*/
.compozit-drop {
  width: 100%;
  display: flex;
  justify-content: center;
}
.compozit-drop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 30%;
  color: rgb(36, 36, 36);
  box-shadow: none !important;
}
.compozit-drop ul li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #4285c7;
  margin: 5px 5px;
}
.compozit-drop ul li a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
.compozit-drop ul li:hover {
  background-color: #99ccff;
}

.compozit-drop ul li:focus {
  background-color: #99ccff;
}
/*======================*/

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 5px 10px;
}

.btn {
  margin: 0 10px;
}

h2.subtitle {
  font-size: 16px;
  font-weight: 400;
}

section {
  margin-top: 30px !important;
  margin-bottom: 100px !important;
}

/* --------------------FOOTER----------------- */
.footer {
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #99ccff;
  color: rgb(36, 36, 36);
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
}
a.contacts {
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-weight: 900;
  transition: all 0.5s ease;
}

a.contacts:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer span a img {
  width: 40px;
  padding: 7px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
footer span a img:hover {
  background: #4285c7;
}
footer span.copyright a {
  text-decoration: none;
  color: #fff;
}
footer span.copyright {
  font-size: 10px;
}
/* --------------------FOOTER----------------- */ ;
