body {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(36, 36, 36);
}
/* ---------------Header customization--------------- */
div.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 3em;
}

div.header-container a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-size: 20px;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
#logo {
  font-size: 25px;
  font-weight: 800;
  color: rgb(36, 36, 36);
}

#logo:hover {
  color: #fff;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}
.blue {
  background: #99ccff;
  -webkit-box-shadow: 0px 10px 15px -5px rgba(153, 204, 255, 0.31);
  -moz-box-shadow: 0px 10px 15px -5px rgba(153, 204, 255, 0.31);
  box-shadow: 0px 10px 15px -5px rgba(153, 204, 255, 0.31);
}
div.topBotomBordersOut a:before,
div.topBotomBordersOut a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

div.header-container ul li a:hover {
  color: #fff;
}

div.topBotomBordersOut a:before {
  top: 0px;
  transform: translateY(10px);
}

div.topBotomBordersOut a:after {
  bottom: 0px;
  transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before,
div.topBotomBordersOut a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

/* ---------------Header customization--------------- */

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  margin: 5px 10px;
}

.btn {
  margin: 0 10px;
}

h2.subtitle {
  font-size: 16px;
  font-weight: 400;
}

section {
  margin-top: 30px !important;
  margin-bottom: 100px !important;
}
/* --------------------FOOTER----------------- */
.footer {
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #99ccff;
  -webkit-box-shadow: 0px -8px 16px -4px rgba(153, 204, 255, 0.2);
  -moz-box-shadow: 0px -8px 16px -4px rgba(153, 204, 255, 0.2);
  box-shadow: 0px -8px 16px -4px rgba(153, 204, 255, 0.2);
  color: rgb(36, 36, 36);
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

.footer p {
  font-size: 12px;
}
a.contacts {
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-weight: 900;
  transition: all 0.5s ease;
}

a.contacts:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}
/* --------------------FOOTER----------------- */
