* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(36, 36, 36) !important;
}

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff !important;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  -moz-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li.main-link {
  margin-right: 130px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(36, 36, 36) !important;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}
nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #fff !important;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #99ccff !important;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav ul li.main-link a::after {
  background: #4285c7 !important;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/************ Styles for DAYSCOMPOZFOUR **************/
.columns {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column-1 {
  width: 50%;
  padding: 0 20px;
}
.column-2 {
  width: 50%;
  padding: 0 15px;
}

/**********Styles for INPUTS**********/

/*DROPDOWN MENU COMPOZIT DAYS*/
.compozit-drop {
  width: 100%;
  display: flex;
  justify-content: center;
}
.compozit-drop ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 30%;
  color: rgb(36, 36, 36) !important;
  box-shadow: none !important;
}
.compozit-drop ul li {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #4285c7 !important;
  margin: 5px 5px;
}
.compozit-drop ul li a {
  text-decoration: none;
  color: rgb(36, 36, 36) !important;
}
.compozit-drop ul li:hover {
  background-color: #99ccff !important;
}

.compozit-drop ul li:focus {
  background-color: #99ccff !important;
}
/*======================*/

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form input {
  margin: 0px 2px;
}
#form2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form2 input {
  margin: 0px 2px;
}

.btn {
  margin: 0 10px;
}

section {
  margin-top: 30px !important;
  margin-bottom: 100px !important;
}

.main-content-2 h2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.main-content-2 h2.subtitle {
  font-size: 14px;
  font-weight: 400;
}

/*======================*/
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content h2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.main-content h2.subtitle {
  font-size: 14px;
  font-weight: 400;
}

.main-content form {
  padding: 10px;
}

input {
  max-width: 15px;
  padding: 7px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #99ccff !important;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
}
input.last {
  max-width: 32px;
}
input:focus {
  outline: 1px solid #99ccff !important;
}

input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

.compozit {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 7px 5px;
  border-radius: 10px;
  border: 1px solid #99ccff !important;
  background-color: #99ccff !important;
  -webkit-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  -moz-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  font-size: 14px;
  font-weight: 600;
  color: rgb(36, 36, 36);
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #99ccff !important;
  color: #fff !important;
  -webkit-box-shadow: 0px 10px 15px 1px rgba(153, 204, 255, 0.31);
  -moz-box-shadow: 0px 10px 15px 1px rgba(153, 204, 255, 0.31);
  box-shadow: 0px 10px 15px 1px rgba(153, 204, 255, 0.31);
}

section {
  margin-top: 30px !important;
  margin-bottom: 100px !important;
}

/* --------------------FOOTER----------------- */
.footer {
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #99ccff;
  color: rgb(36, 36, 36);
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
}
a.contacts {
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-weight: 900;
  transition: all 0.5s ease;
}

a.contacts:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

footer span a img {
  width: 40px;
  padding: 7px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
footer span a img:hover {
  background: #4285c7;
}
footer span.copyright a {
  text-decoration: none;
  color: #fff;
}
footer span.copyright {
  font-size: 10px;
}
.phone {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
/* --------------------FOOTER----------------- */ ;
