.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__group:nth-child(4) {
  padding: 0 0 20px 0;
}

.form__group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
