* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

nav {
  background-color: antiquewhite;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo a {
  font-size: 25px;
}

.logo a span {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.menu-list {
  display: flex;
  margin: 0 10px;
}

li {
  list-style: none;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: black;
}

.user ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user img {
  width: 30px;
  cursor: pointer;
}

li.login {
  cursor: pointer;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content h2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.main-content form {
  padding: 10px;
}
