* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(36, 36, 36) !important;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}
.container-xl {
  width: 95%;
  margin: 0 auto;
}
h2 {
  text-align: center;
  color: rgb(36, 36, 36);
}
.phone {
  text-decoration: none;
  color: rgb(36, 36, 36) !important;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background: #fff !important;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  -moz-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li.main-link {
  margin-right: 130px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(36, 36, 36) !important;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555 !important;
}
nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #fff !important;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #99ccff;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav ul li.main-link a::after {
  background: #4285c7 !important;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
/*======================*/
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content h2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.main-content form {
  padding: 10px;
}

input {
  max-width: 4rem;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #99ccff;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
}

input:focus {
  outline: 1px solid #99ccff;
}

input::placeholder {
  font-size: 14px;
  font-weight: 600;
}

.compozit {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #99ccff;
  background-color: #4285c7;
  -webkit-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  -moz-box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  box-shadow: 0px 4px 15px 1px rgba(153, 204, 255, 0.25);
  font-size: 14px;
  font-weight: 600;
  color: #fff !important;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #80b9f1;
  -webkit-box-shadow: 0px 10px 15px 1px rgba(153, 204, 255, 0.31);
  -moz-box-shadow: 0px 10px 15px 1px rgba(153, 204, 255, 0.31);
  box-shadow: 0px 10px 15px 1px rgba(153, 204, 255, 0.31);
}

section {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
/* --------------------FOOTER----------------- */
.footer {
  left: 0;
  bottom: 0;
  padding: 10px;
  background: #99ccff;
  color: rgb(36, 36, 36) !important;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
}
a.contacts {
  text-decoration: none;
  color: rgb(36, 36, 36);
  font-weight: 900;
  transition: all 0.5s ease;
}

a.contacts:hover {
  border-bottom: 2px solid #fff !important;
  color: #fff !important;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
}

footer span.copyright a {
  text-decoration: none;
  color: #fff !important;
  font-size: 16px;
}
footer span.copyright {
  font-size: 10px;
}
svg {
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
footer span a svg:hover {
  background: #4285c7;
}
/* --------------------FOOTER----------------- */
@media (max-width: 1024px) {
  .container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 400px;
    padding: 0 20px;
    margin: 0 auto;
  }

  #form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #form span {
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    margin-left: 5px;
  }
  #form button {
    margin: 10px;
  }
  .tbh {
    border: 1px solid #3366ff;
    background-color: #99ccff;
    font-weight: bold;
    border-radius: 5px !important;
    padding: 3px !important;
  }

  .ind {
    font-size: 14px !important;
    font-weight: bold;
    color: rgb(36, 36, 36);
  }

  .sub {
    font-size: 6px !important;
    color: #999999;
  }

  .sub_s {
    font-size: 8px !important;
    color: #999999;
  }

  .inda {
    font-size: 14px !important;
    font-weight: bold;
    color: rgb(36, 36, 36);
  }

  .eso ul li {
    float: left;
    padding: 0px;
    font-size: 5px !important;
  }

  .gray {
    font-size: 8px !important;
  }
  #date {
    font-size: 12px;
  }

  .tbh {
    font-size: 12px !important;
  }
  footer h2 {
    font-size: 14px !important;
    text-transform: uppercase;
  }
  footer p {
    font-size: 12px !important;
    width: 300px;
    margin: 0 auto;
  }

  nav ul li a {
    font-size: 12px;
    padding: 5px !important;
    margin: 0 2.5px !important;
  }
}
