* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  font-weight: 600;
}

nav {
  background-color: #c2987c;
}

.none {
  display: none;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo a {
  font-size: 25px;
}

.logo a span {
  font-size: 30px;
  font-weight: 800;
  color: white;
}

.menu-list {
  display: flex;
  margin: 0 10px;
}

li {
  list-style: none;
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: black;
}

.menu-item a {
  transition: all 0.7s ease;
}

.menu-item a:hover {
  color: #fff;
}

.menu-item a:focus {
  color: #fff;
}

.user ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user img {
  width: 30px;
  cursor: pointer;
}

li.login {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

li.login {
  transition: all 0.7s ease;
}

li.login:hover {
  color: #fff;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content h2 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.main-content form {
  padding: 10px;
}

input {
  padding: 10px 15px;
  outline: none;
  border-radius: 30px;
  border: 1px solid #c2987c;
  font-size: 16px;
  background-color: transparent;
}

input:focus {
  outline: 1px solid #c2987c;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.compozit {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #8d6f5b;
  background-color: #c2987c;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.7s ease;
}

button:hover {
  background-color: #8d6f5b;
  color: #fff;
}
