section {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(36, 36, 36);
}

.plus {
  width: 10vw;
  height: 30vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.result-symbol {
  font-size: 50px;
  font-weight: 700;
}
